body {
    background-color: black;
    animation: fadeIn 3s;
}
label {
    text-align: left;
    clear: both;
    float:left;
    margin-left:2px;
}
.dashed-divider {
    position:relative;
    border: 3px dashed #fff;
    margin-top: 10px;
    width: 100%;
}
.container{
    width: 100%;
    height: 65%;    
}
.estusMan{
    position:absolute;
    bottom:260px;
    left:390px;
}
#commandPrompt{
    width: 100%;
    position:sticky;
    padding-top: 10px;
    background-color: #000;
    color: #fff;
}
.commandInput{
    width: 80%;
    position:relative;
    margin-left: 175px;
    padding: 5px;
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-family: "Garamond", Times, serif;
    font-size: 20px;
}
#label {
    position:absolute;
    padding-right: 3px;
    width: 80%;
    padding: 5px;
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-family: "Garamond", Times, serif;
    font-size: 20px;
}
.label{
    position:absolute;
    padding-right: 3px;
    width: 80%;
    padding: 5px;
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-family: "Garamond", Times, serif;
    font-size: 20px;
}
.output
{
    padding-left: 20px;
    font-size: 17px;
}
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}